<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page"
          >Index <span class="visually-hidden">(current)</span></a
        >
        <a class="nav-item nav-link" href="/pacientes">listado</a>
        <a class="nav-item nav-link" href="/citas">citas</a>
      </div>
    </nav>

    <div class="alert alert-info display-1 text-center">Citas Medicas</div>
  </body>
</html>
