<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  {% extends "index.html" %} {% block content %}

  <div class="alert alert-info text-center">Listado de doctores</div>
  <div class="table-responsive">
    {% if doctores %}

    <table class="table table-primary">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Especialidad</th>
          <th scope="col">Rut</th>
          <th scope="col">Fecha de Nacimiento</th>
          <th scope="col">Correo</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>

      <tbody>
        {% for doctor in doctores %}

        <tr class="">
          <td>{{doctor.nombre}}</td>
          <td>{{doctor.apellido}}</td>
          <td>{{doctor.especialidad}}</td>
          <td>{{doctor.rut}}</td>
          <td>{{doctor.fechaNacimiento}}</td>
          <td>{{doctor.correo}}</td>

          <td> <a href="/doctores/modificarDoctor/{{ doctor.id }}" class="btn btn-success">Modificar</a> </td>
          <td> <a href="/doctores/eliminarDoctor/{{ doctor.id }}" class="btn btn-danger">Eliminar</a> </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% else %}

    <div class="alert alert-info">No hay doctores registrados</div>

    {% endif %}

    <div class="d-flex">
      <a href="../" class="btn btn-danger btn-sm">volver</a>
      <a href="{% url 'registro/doctores' %}" class="btn btn-info btn-sm ml-auto">agregar registro</a>
    </div>
  </div>

  {% endblock %}
</body>

</html>